<head>
  {{ partial "base/meta.html" . }}
  <title>{{ .Title }} &middot; {{ .Site.Title }} </title>
  <link rel="canonical" href="{{ .Site.BaseURL }}" />
  <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}"> -->
  <!-- <link rel="stylesheet" type='text/css' href="{{ "css/main.css" | relURL }}"/> -->
  <!-- <link rel="stylesheet" type="type/css" href="{{ .Site.BaseURL }}css/main.css"> -->
  
  <!-- <link rel="stylesheet" type='text/css' href="{{ "css/_global-styles/main.css" | relURL }}"/> -->
  <!-- <link rel="stylesheet" type='text/css' href="{{ "css/components/logo/logo.css" | relURL }}"/> -->
  <script src="https://unpkg.com/netlify-auth-providers"></script>
  <link rel="apple-touch-icon" href="{{ "favicon.png" | relURL }}" />
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}" sizes="192x192" />
</head>