<head>
  {{ partial "base/meta.html" . }}
  <title>{{ .Title }} &middot; {{ .Site.Title }} </title>
  <link rel="canonical" href="{{ .Site.BaseURL }}" />
  <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}"> -->
  <link rel="stylesheet" type='text/css' href="{{ "css/main.css" | relURL }}"/>
  <script src="https://unpkg.com/netlify-auth-providers"></script>
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/favicon.png" />
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicon.png" sizes="192x192" />
</head>