/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Box Sizing reset*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* primary */
@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/leaguespartan/leaguespartan-bold.eot");
  src: url("../fonts/leaguespartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan/leaguespartan-bold.woff2") format("woff2"), url("../fonts/leaguespartan/leaguespartan-bold.woff") format("woff"), url("../fonts/leaguespartan/leaguespartan-bold.ttf") format("truetype"), url("../fonts/leaguespartan/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(at top center, #F4F6FA 0%, #EBEFF5 100%); }
  @media screen and (min-width: 0px) {
    body {
      border: 2.4rem solid white; } }
  @media screen and (min-width: 480px) {
    body {
      border: 3.2rem solid white; } }
  @media screen and (min-width: 840px) {
    body {
      border: 4.0rem solid white; } }

html {
  font-size: 62.5%;
  /* 1rem = 10px */ }

body *::selection {
  background: rgba(112, 222, 189, 0.5); }

h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 6.4rem;
  line-height: 7.2rem;
  color: #4A4A4A; }

body {
  overflow: hidden; }

.heading-text {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  mix-blend-mode: hard-light; }
  @media screen and (min-width: 0px) {
    .heading-text {
      margin-left: 2.4rem;
      margin-right: 2.4rem; } }
  @media screen and (min-width: 480px) {
    .heading-text {
      margin-left: 3.2rem;
      margin-right: 3.2rem; } }
  @media screen and (min-width: 840px) {
    .heading-text {
      margin-left: 4.0rem;
      margin-right: 4.0rem; } }

.lamp {
  position: absolute;
  top: calc(4.0rem + 400px + 8px);
  margin-bottom: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top center;
  animation: swing 15s ease-in-out infinite;
  will-change: transform; }

.cable {
  width: 8px;
  background-color: #4e5a65; }
  .cable.section-1 {
    position: absolute;
    top: 4.0rem;
    left: 6.4rem;
    height: 400px; }
  .cable.section-2 {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: calc(50vw - 6.4rem - 8px/2);
    position: absolute;
    top: calc(4.0rem + 400px + 8px);
    left: 6.4rem;
    right: 50%; }
  .cable.swinging-section {
    margin-bottom: -2px;
    height: 200px; }

.isolator {
  height: 32px;
  width: 32px;
  background-image: url("../images/isolator.png");
  background-size: contain;
  position: absolute;
  z-index: 2; }
  .isolator.section-1 {
    top: calc(4.0rem + 400px - 8px/2 - 32px/2);
    left: calc(6.4rem + 8px - 32px/2); }
  .isolator.section-2 {
    top: calc(4.0rem + 400px + 8px - 32px/2);
    left: calc(50vw - 8px - 32px/2); }

.shade {
  margin-bottom: -1px;
  width: 400px;
  height: 64px;
  background-color: #4e5a65;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%); }

.light {
  min-width: 2000px;
  width: 100vw;
  height: 150vh;
  background-color: #FCEE6D;
  mix-blend-mode: hard-light;
  opacity: 0.8;
  clip-path: polygon(calc(50% - 200px) 0%, calc(50% + 200px) 0%, 100% 100%, 0% 100%); }

@keyframes swing {
  0%,
  0.8%,
  99.2%,
  100% {
    transform: rotate(8deg); }
  49.2%,
  50.8% {
    transform: rotate(-8deg); } }

#logo {
  position: absolute;
  top: 9.6rem; }
  @media screen and (min-width: 0px) {
    #logo {
      width: 14.4rem; } }
  @media screen and (min-width: 480px) {
    #logo {
      width: 20rem; } }
  @media screen and (min-width: 840px) {
    #logo {
      width: 32rem; } }
